​​​​​* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://wallpapercave.com/wp/wp5475487.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Rajdhani', sans-serif;
}

.section {
  float: left;
  width: 20%;
  height: 300px;
  padding: 15px;
}

.cards {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.card {
  margin: 20px;
  display: flex;
  flex-direction: column;
  border: 2px solid #ccc;
  border-radius: 7px;
  max-width: 250px;
  box-shadow: 0 5px 9px 0 #ffffff;
  transition: 0.2s;
  width: 100%;
}

.card:hover {
  box-shadow: 0 9px 15px 0 #865d52;
}

p {
  color: #faeeeb;
  font-size: 25px;
  /*align-items: center;*/
  text-align: center;
  font-size: 1.2rem;
  line-height: 140%;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-shadow: 2px 2px #000000;
}

/* div, image tag justigy content alighn content-- say image strong cards img width 100%*/
h1 {
  color: #faeeeb;
  text-align: center;
  font-size: 3rem;
}

h3 {
  color: #fdcabd;
  text-align: center;
  font-size: 30px;
}